.git
.gitignore
.idea
.vscode
.DS_Store

**/__pycache__/
**/*.py[cod]
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/node_modules/
**/dist/
**/logs/
**/.env
**/.env.local

frontend/node_modules
frontend/dist
AgentServer/logs
AgentServer/.env
